In [1]:
list1 = [3,5,7,9,10]
for i in list1:
    print(i)

3
5
7
9
10

In [7]:
list1 = [3,5,7,9,10]
s = 0
e = len(list1)
for i in range(s,e):
    print(list1[i])

3
5
7
9
10

In [6]:
s = 0
e = len(list1)
while (s<e):
    print(list1[s])
    s=s+1

3
5
7
9
10

In [13]:
n = 9
assume = 'prime'
for element in range(2,n):
    if n%element == 0:
        assume= 'non prime'

print(assume)

non prime

In [75]:
def check_prime(n):
    assume = 'prime'
    for element in range(2,n):
        if n%element == 0:
            assume= 'non prime'
            break

    print('The value of ',n,'is ',assume)
    return(assume)

In [76]:
result =  check_prime(4)

The value of  4 is  non prime

In [64]:
result

'prime'

In [ ]:
what is a prime number?
a number which can be divisible by 1 or number itself

13 - (prime) 1,13 (2,12)

In [14]:
a = 5
b = 6
c = a+b
print(c)

11

In [34]:
# unparameterized
def summation_unparam():
    a = 5
    b = 6
    c = a+b
    print(c)

In [35]:
summation_unparam()

11

In [36]:
# parameter
def summation_param(a,b,oper):
    if oper == 'add':
        c = a+b
    elif oper =='sub':
        c = a-b
    print(c)

In [37]:
summation_param(2,3,'add')

5

In [38]:
summation_param(2,3,'sub')

-1

In [78]:
def check_prime(n):
    assume = 'prime'
    for element in range(2,n):
        if n%element == 0:
            assume= 'non prime'
            break
    return(assume)

In [79]:
# 1. print all the prime numbers from the range 1,100
# 2. print first 1000 prime numbers

In [83]:
counter = 1
i = 2
while(counter<=1000):
    result = check_prime(i)
    if result =='prime':
        print(i)
        counter = counter + 1
    i = i+1

2
3
5
7
11
13
17
19
23
29

In [80]:
counter = 1
for i in range(1,100000):
    if i == 1:
        pass
    print('The number',i,' the count is',counter)
    result = check_prime(i)
    if result =='prime':
        counter = counter + 1
        if counter>10:
            break

The number 1  the count is 1
The number 2  the count is 2
The number 3  the count is 3
The number 4  the count is 4
The number 5  the count is 4
The number 6  the count is 5
The number 7  the count is 5
The number 8  the count is 6
The number 9  the count is 6
The number 10  the count is 6
The number 11  the count is 6
The number 12  the count is 7
The number 13  the count is 7
The number 14  the count is 8
The number 15  the count is 8
The number 16  the count is 8
The number 17  the count is 8
The number 18  the count is 9
The number 19  the count is 9
The number 20  the count is 10
The number 21  the count is 10
The number 22  the count is 10
The number 23  the count is 10

In [69]:
for i in range(1,100):
    result = check_prime(i)
    if result =='prime':
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [92]:
def sum1(a = 1,b = 4):
    return a+b

In [94]:
sum1(10,12)

22

In [ ]:
print first 10 armstrong numbers

In [ ]:
total - 10*10
4 sub plot  - 5*5 

engineer 1 sub plot 5*5
planning or 
details(class)
object

In [126]:
class car:
    global model
    model = 'v1'
    year = 2022
    def features(self):
        self.color = 'yellow'
        self.brand = 'Toyota'

    def display(self):
        self.features()
        print('This display function',self.color,self.brand,self.year,model)
    
        
car_obj = car()
car_obj.display()

This display function yellow Toyota 2022 v1

In [131]:
class car:
    global model
    model = 'v1'
    year = 2022
    # default constructor
    def __init__(self):
        self.color = 'yellow'
        self.brand = 'Toyota'
        print(self.color,self.brand)

    def display(self):
        print('This display function',self.color,self.brand,self.year,model)
    
        
car_obj = car()# call default constructor
car_obj.display()

yellow Toyota
This display function yellow Toyota 2022 v1

In [122]:
model

'v1'

In [ ]:
inheritance,
polymorphism
encapsulation
abstraction